.nav-brand{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: whitesmoke;
font-size: 30px;
}
.nav{
 padding: 5px 10px;
  border: 2px solid ;
  border-radius: .5rem;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #334366;
  box-shadow: 0 8px 12px black;
}
.navbar{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem;
}

.navbar a {
    font-size: 1.7rem;
    color:whitesmoke;
    margin: 1rem; 
  }
  .navbar a:hover {
    color: skyblue;
  }
.href{
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:  #334366;
   box-shadow: 0 8px 12px black;
}
form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid ;
    border-radius: 5px;

  }
  input[type="search"] {
    border: none;
    background:whitesmoke;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid whitesmoke;
    border-radius: inherit;
    background: whitesmoke url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.6;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  .font-icons a {
    font-size: 2.5rem;
    color: whitesmoke;
    margin-left: 2rem;
  }
  .font-icons a:hover {
    color: orange;
  }

  .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 9%;
    padding-top: 9rem;
  }
  .slide-container .slide .content {
    flex: 1 1 40rem;
    animation: slideContent 0.5s linear 1s backwards;
  }
  .slide-container .slide .content span {
    font-size: 3rem;
    color: grey;
    font-weight: bold;
  }
  .slide-container .slide .content h3 {
    font-size: 5rem;
    color: black;
    font-style: italic;
  }
  .btns {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5px;
    border: 2px solid purple;
    font-size: 1.7rem;
    color:whitesmoke;
    cursor: pointer;
    background: purple;
    padding: 10px;
  }
  .btns:hover {
    background: none;
    color: black;
    border: 2px solid purple ;
    font-weight: bolder;
  }
  .slide-container .slide .image .games{
    width: 100%;
    transform: rotate(0deg);
    animation: shoeContent 0.3s linear;
    border-radius: 2rem;
    padding: 0.5em;rem 0;
  }
  @keyframes slideContent {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
    
    
    